@import url("https://fonts.googleapis.com/css?family=Raleway");

ul,
div {
  color: rgb(231, 39, 174);
  font-family: "Raleway", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
  text-align: center;
  text-shadow: 2px 2px rgb(110, 11, 139);
}

div.title {
  font-size: 2rem;
}

div.footer {
  color: rgb(255, 82, 203);
}

.fortune-btn {
  background-color: rgb(115, 16, 145);
  border: solid rgb(209, 26, 154) 2px;
  border-radius: 1rem;
  color: aliceblue;
  font-size: 1.2rem;
  padding: 18px;
}

.fortune {
  color: aliceblue;
  font-family: "Raleway", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
  font-size: 2rem;
}
